#root {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
        background-image: linear-gradient(90deg, #b4b2b2, #686666);

}


.css-1tktgsa-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
    background-color: transparent !important;
    box-shadow: none !important;
    top: 56px !important;
    color: white !important;
}
.css-1umw9bq-MuiSvgIcon-root{
    fill: black !important;
}
.css-u206wu-MuiPaper-root-MuiCard-root,.css-3djxa2-MuiPaper-root-MuiCard-root{
    background-color: #D9D9D9 !important;
}


.slick-slide {
  padding: 0 10px !important;
}

.slick-list {
  margin: 0 -10px !important;
}

.slick-track {
  display: flex !important;
  gap: 10px !important;
}






@media screen and (max-width: 960px){
    #root {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}}
@media screen and (max-width: 720px){
    #root {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}}
@media screen and (max-width: 580px){
    #root {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}

  }
  @media screen and (max-width: 340px){
    #root {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

  }